
html {
    display: table;
    margin: auto;
}

body {
  position: absolute;
  right: 0px;
  width: 400px;
/*  padding: 10px;*/
  font-family: 'Caveat', cursive;
  background: url("https://images.unsplash.com/photo-1560073210-1eb8ea89d4cc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


li{
  color: #fff;
  font-size: 15px;
}

h1, p {
  color:#fff;
  text-align: center;
}

.coolTitle {

 font-family: 'Caveat', cursive;
  font-size: 50px;
  letter-spacing: 4px;
  word-spacing: -8px;
  color: #FFD7D7;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px ;
}

/* CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin: 0;
  outline: none;
  padding: .3rem .8rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FF5454;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
  color: #fff;
}

.button-73:active {
  transform: scale(1.025);
}



.delete {
  background-color: #FFFFFF;
  border-radius: 100px;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 13px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.delete:hover {
  background-color: #FF5454;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.05) rotate(-1deg);
  color: #fff;
}

.done {
  color: #FF5454;
  text-decoration: line-through;

}